{% extends 'layout.html' %}


{% block head %}<title>dasboard</title>{% endblock %}


{% block body %}
<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>dasboard</title>
    <link rel="stylesheet" href="/static/dasboard.css" />
  </head>
  <body>
    <!-- navbar  -->
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #169CC6;">
        <div class="container-fluid">
          <a class="navbar-brand" href="#" style="font-weight: bold;">TIKET CUYY</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#features">Features</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <!-- navbar end -->

    <!-- jumbotron -->
    <section class="jumbotron">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/static/gambar1.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/static/gambar2.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/static/gambar3.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </section>
    <!-- jumbotron end -->

    
    <!-- card -->
    <section>
      <div class="container">
        <div class="row">
          <div class="col-4">
            <div class="card">
              <img src="/static/seila.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card">
              <img src="/static/seila.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card">
              <img src="/static/seila.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- card end -->

    <!-- about -->
    <section id="about">
      <div class="container">
        <div class="row text-center">
          <div class="about">
            <h2>About</h2>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia autem incidunt aliquid culpa laudantium dicta, minus ab deleniti sed explicabo!</p>
          </div>
          <div class="col">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo atque tempore cum exercitationem saepe eligendi mollitia pariatur vitae asperiores eius.</p>
          </div> 
        </div>
      </div>
    </section>
    <!-- about end -->

    <!-- footer -->
    <footer class="footer">
      <a href="#"  style="text-decoration: none; color: #212529;"><h3>FEATURES</h3></a>
      <a href="#"  style="text-decoration: none; color: #212529;"><h3>HOME</h3></a>
      <a href="#"  style="text-decoration: none; color: #212529;"><h3>ABOUT</h3></a>
      <a href="#"  style="text-decoration: none; color: #212529;"><h3>OUR TEAM</h3></a>
    </footer>
    <!-- footer end -->
  </body>
</html>

{% endblock %}
